apiVersion: radix.equinor.com/v1
kind: RadixApplication
metadata:
  name: smailandstuff-keaaa
spec:
  environments:
    - name: production
      build:
        from: master
  components:
    - name: webapp
      src: .
      ports:
       - name: http
         port: 3000
      public: true
      replicas: 1
      environmentConfig:
        - environment: production
          variables:
            TENANT_ID: "3aa4a235-b6e2-48d5-9195-7fcf05b459b0"
            CLIENT_ID: "5ff29aac-98c7-4bcb-b75f-1d43bbba9c2e"
            NODE_ENV: "production"
      secrets:
        - CLIENT_SECRET